@import '../../src/scss/style';

.cc--banner {
  @include padding(rem(100) rem(16));
  background-color: $color-primary;

  @include mq($bp768) {
    @include padding(null rem(24));
  }

  @include mq($bp1200) {
    @include padding(null rem(32));
  }

  .c--banner {
    @include maxwidth;

    .f--page-title {
      @include margin(null null rem(8));

      h1 {
        @include font-sans-serif-black;
        @include font-size(40, 48);
        color: $color-white;

        @include mq($bp768) {
          @include font-size(48, 56);
        }

        @include mq($bp1200) {
          @include font-size(56, 64);
        }
      }
    }

    .breadcrumbs {
      @include no-bullet;
      column-gap: rem(18);
      display: flex;

      li {
        position: relative;

        &:not(:last-child) {
          &::after {
            @include chevron(rem(6), rem(2), $color-white, 'right');
            @include margin(null null rem(2) rem(16));
            content: ''; 
          }
        }

        &:first-child {
          a {
            color: $color-white;
          }
        }

        span {
          @include font-sans-serif-bold;
          @include font-size(16, 20);
          color: $color-secondary;
        }

        a {
          @include font-sans-serif-bold;
          @include font-size(16, 20);
          position: relative;
          text-decoration: none;

          &::after {
            background-color: $color-white;
            bottom: 0;
            content: '';
            display: none;
            height: rem(1);
            left: 0;
            position: absolute;
            width: calc(100% - rem(4));
          }

          &:hover {
            &::after {
              display: block;
            }
          }
        }
      }
    }
  }
}
