@import '../../src/scss/style';

.cc--services {
  @include padding(rem(60) rem(16));

  @include mq($bp768) {
    @include padding(null rem(24));
  }

  @include mq($bp1200) {
    @include padding(null rem(32));
  }

  .c--services {
    @include maxwidth;

    .text-container {
      @include margin(null null rem(48));

      @include mq($bp768) {
        align-items: center;
        column-gap: rem(16);
        display: flex;
      }

      @include mq($bp1200) {
        @include margin(null null rem(64));
        column-gap: cols(1);
      }

      .title-container {
        @include mq($bp768) {
          flex: 0 0 calc(cols(6) - rem(8));
        }

        @include mq($bp1200) {
          flex: 0 0 cols(6);
        }
      }

      .f--eyebrow {
        @include margin(null null rem(4));
        color: $color-primary;

        span {
          @include font-sans-serif-condensed;
          @include font-size(12, 16);
          letter-spacing: rem(1.3);
          text-transform: uppercase;

          @include mq($bp1200) {
            @include font-size(16, 20);
            letter-spacing: rem(1.6);
          }
        }
      }

      .f--section-title {
        @include margin(null null rem(16));

        @include mq($bp768) {
          @include margin(null null 0);
        }

        h2 {
          @include font-sans-serif-bold;
          @include font-size(32, 40);
          color: $color-black;

          @include mq($bp1200) {
            @include font-sans-serif-black;
            @include font-size(48, 60);
          }
        }
      }

      .f--description {
        @include mq($bp768) {
          flex: 0 0 calc(cols(6) - rem(8));
        }

        @include mq($bp1200) {
          flex: 0 0 cols(5);
        }

        p {
          @include font-sans-serif-regular;
          @include font-size(16, 24);
        }
      }
    }

    .cards-container {
      @include mq($bp768) {
        column-gap: rem(16);
        display: flex;
      }

      .card-item {
        @include vertical-align-flex;
        @include padding(rem(24));
        background-color: $color-accent;
        text-align: center;

        @include mq($bp768) {
          @include padding(rem(40) null);
          flex: 0 0 calc(cols(4) - rem(10));
        }

        &:not(:last-child) {
          @include margin(null null rem(16));

          @include mq($bp768) {
            @include margin(null null 0);
          }
        }

        .f--image {
          @include margin(null auto rem(24));
          max-width: rem(64);
          width: auto;

          img {
            height: auto;
            max-width: 100%;
            object-fit: cover;
          }
        }

        .f--cta-title {
          @include margin(null null rem(12));

          h3 {
            @include font-sans-serif-bold;
            @include font-size(20, 24);
          }
        }

        .f--description {
          p {
            @include font-sans-serif-regular;
            @include font-size(16, 24);
          }
        }
      }
    }

    &.secondary {
      .cards-container {
        @include mq($bp768) {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          row-gap: rem(24);
        }

        @include mq($bp1200) {
          display: flex;
        }

        .card-item {
          background-color: transparent;
          display: block;
          padding: 0;
          text-align: left;

          @include mq($bp1200) {
            flex: 0 0 calc(cols(3) - rem(12));
          }

          .f--image {
            @include margin(null 0 rem(24));
            max-width: none;
            width: 100%;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
