$color-blue: #3D98D3;
$color-teal: #00B0AB;
$color-lime: #E1E327;
$color-yellow: #F7DC05;
$color-marigold: #FFCE4E;
$color-orange: #F99D1E;
$color-poppy: #EF4123;
$color-coral: #FF7175;
$color-pink: #EC0B88;
$color-purple: #695092;
$color-secondary-purple: #9F248F;
$color-table-accent: #FFFAEC;
$color-input-elements: #5D6966;
$color-shade-blue: #2E8ECD;
$color-dark-blue: #267FB8;

// Newtrals
$color-white: #FFF;
$color-black: #000;
$color-divider-gray: #CCC;
$color-light-gray: #FAFAFA;


// Interface
$color-focus: #00A1CA;
$color-error-red: #D50032;
